{% extends "sale/base.html" %}

{% load thumbnail %}

{% load satchmo_currency %}
{% load satchmo_discounts satchmo_tax %}
{% block extra-head %}
{% if category.meta %}
    <meta name="description" content="{{ category.meta|escape }}">
{% endif %}
{% endblock %}


{% block content-product %}
<div style='text-align:center;margin-top:-25px;margin-bottom:20px;width:150px;height:150px;background-color:#D04526;color:#eee;line-height:50px;'>
		<h4 style='color:#eee;padding-top:30px;'>Products</h4><h4 style='color:#eee;'>On</h4><h4 style='color:#eee;'>Sale</h4>
</div>
{% include 'product/product_box.html' with productBoxesList=products %}
{% endblock %}
