{% extends "registration/base.html" %}

{% block loginsignupform %}
<form id='login-panel-form' method='post' action='.'>
<div id='login-panel-container'>
    {% if allow_nickname %}
		<div class='login-row login-row-first'>
			<input id='login-username' name='username' class='login-input' type='text' placeholder="Nick name" {% if form.username.value %}value='{{form.username.value}}'{% endif %} >
			{% if form.username.errors %}
			    <div style='float:left;'><p class='error'> ***{{ form.username.errors|join:", " }}</p></div>
			{% endif %}
		</div>
		<div class='login-row'>
			<input id='login-email' name='email' class='login-input' type='text' placeholder="Email" {% if form.email.value %}value='{{form.email.value}}'{% endif %}>
			{% if form.email.errors %}
			    <div style='float:left;'><p class='error'> ***{{ form.email.errors|join:", " }}</p></div>
			{% endif %}
		</div>	
    {% else %}
		<div class='login-row login-row-first'>
			<input id='login-email' name='email' class='login-input' type='text' placeholder="Email" {% if form.email.value %}value='{{form.email.value}}'{% endif %}>
			{% if form.email.errors %}
			    <div style='float:left;'><p class='error'> ***{{ form.email.errors|join:", " }}</p></div>
			{% endif %}
		</div>	
    {% endif %}	
	<div class='login-row'>
		<input id='login-first_name' name='first_name' class='login-input' type='text' placeholder="Your name" {% if form.first_name.value %}value='{{form.first_name.value}}'{% endif %} >
		{% if form.first_name.errors %}
		    <div style='float:left;'><p class='error'> ***{{ form.first_name.errors|join:", " }}</p></div>
		{% endif %}
	</div>			
	<div class='login-row login-row-last'>
		<input id='login-password1' name='password1' class='login-input' type='password' placeholder="Password" >
		{% if form.password1.errors %}
		    <div style='float:left;'><p class='error'> ***{{ form.password1.errors|join:", " }}</p></div>
		{% endif %}
	</div>		
    {% if show_newsletter %}
    {% else %}
        <input type='hidden' name='newsletter' value="False" />
    {% endif %}
    {% csrf_token %}
</div>
<div id='login-submit-container'>
    <button class="btn btn-login" id="login-submit" name="login-submit" type="submit">Start your journey!</button>
</div>
</form>

{% endblock loginsignupform %}

