{% extends "shop/base.html" %}
{% load i18n %}
{% block extrastyle %}{% endblock extrastyle %}
{% block body %}

{% spaceless %}
<style>
    html{
    	min-width:960px;
    }
    input.login-input,#login-panel-container,.login-row,.pwd-reset-container{
        font-size:14px;
    }
	input.login-input{
		height:18px;width:12em;line-height:18px;/*color:#D04526;*/
	    border: 0px;/*10px solid rgb(127, 0, 0);*/
	   /* border:  10px solid rgba(255, 0, 0, .5);*/
	    -webkit-background-clip: padding-box; /* for Safari */
	    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	    padding:0px;
	    margin:0px;
	    -webkit-border-radius:0px;
	    -moz-border-radius:0px;
	    border-radius:0px;
	}
	.pwd-reset-container{
		width:11.5em;margin-left:auto;margin-right:auto;
	}
	input.login-input:focus,input.login-input{
	    outline:0;outline:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;
	}
	#login-panel-container, input.login-input{
	    background-color: #fff;/*#F8FFB0;*/
	}
	#login-panel-container-container{
		width:100%;text-align:center;font-size:18px;padding-top:35px;
	}
	#login-panel-container{
		width:16em;
		margin-left:auto;
		margin-right:auto;
/*			color: #D04526;*/
		border: 1px dashed #D52027;
		border: 1px dashed #D52027;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
	    -webkit-border-radius:3px;
	    -moz-border-radius:3px;
	    border-radius:3px;
/*	    -moz-box-shadow:   0px 1px 7px rgba(0,0,0,0.8), inset 0 0 10px #000000;
	    -webkit-box-shadow:  0px 1px 7px rgba(0,0,0,0.8),inset 0 0 10px #000000;
	    box-shadow: 0px 1px 7px rgba(0,0,0,0.8),  inset 0 0 10px #000000;*/
	}
	p.error{
		color:red;
		text-decoration:underline;
		margin-bottom:0px;
		text-align:center;
	}
	#login-panel-form{
		margin:14px 0px;
	}
	.login-row{
		width:12em;
		margin-left:auto;
		margin-right:auto;
		padding-left:1em;padding-right:1em;
		border-top:1px solid #Fff; /*brighter*/
		border-bottom:1px solid #eee;
		padding-top:14px;
		padding-bottom:14px;
	}
	.login-row-first{
		border-top:0px;
	}
	.login-row-last{
		border-bottom:0px;
	}
    #login-submit-container{
    	margin-top:2%;
    	width:14em;
    	font-size:18px;
    	margin-left:auto;margin-right:auto;
    	text-align:center;
    }
    #login-submit-container .btn-login{
    	width:14em;
    }
    #login-submit-container .btn-login,#login-sns-container .login-sns-button,#signup-btn{
    	font-size:18px;
    	height:2em;
    	border:2px solid transparent;
		display: inline-block;
		padding: 4px;
		margin-bottom: 0;
		font-size: 14px;
		font-weight:bold;
		line-height: 20px;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		color: #fff;
		text-shadow: none;
		background-color: #D52027;
		background-image: none;
		filter: none;
		border: 0px solid #BBB;
		border-bottom-color: #A2A2A2;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
    }
    #login-sep-line-container{
    	margin-top:8%;
    	margin-bottom:3%;
    }
    .sep-line-top{
    	border-top:1px solid rgba(0,0,0,0.5);
    }
    .sep-line-bottom{
    	border-top:1px solid rgba(256,256,256,0.5);
    }
    .login-tips{
    	text-align:center;font-size:14px;color:#555;
    	text-shadow: 0 1px 0 rgba(256,256,256,.8);/* rgba(0,0,0,.5);*/
    }
    #login-sns-container .login-sns-button,#signup-btn{
    	width:9em;
    	font-size:23px;
    	border-width:1px;
    }
    #login-right-panel{
        top:14px;
        right:14px;
    	overflow:display;
    	z-index:999;
    	position: fixed;
    }

    #login-signup-button-container,#login-sns-container{
    	text-align:center;
    }
    .password-reset{
    	text-shadow: 0 1px 0 rgba(256,256,256,.8);
    }
	* {
	margin: 0;
	}
	html, body {
	height: 100%;
	}
	.wrapper {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -0em;
		
	}
	.wrapper,html,body{
		background:#fff;
	}
	.footer, .push {
	height: 0em;
	}
	.footer, .push {
	clear: both;
	}
	#left-col,#right-col,#middle-col{
    	float:left;width:49%;
    }
    
	#middle-col{
		height:28em;
		margin-top:10%;
		width:0%;
		border-left:1px solid #bbb;
		border-right:1px solid #eee;
	}
/*	#left-col{
		width:48%;
	}*/
    #right-col{
    	padding-top:10%;
    }
    #left-col{
    	padding-top:10%;
    }
    #introduction-wrapper{
    	width:24em;margin-left:auto;margin-right:auto;
    }
    #introduction-wrapper p{
    	text-align:center;
    }
    
    #signup-title{
    	font-size:14px;
    	text-transform:uppercase;
    	/*text-shadow: 3px 2px 0px rgba(216,216,216,.8);*/
    }
    /*<img src='{{MEDIA_URL}}img/invite-bg-1.png'><img src='{{MEDIA_URL}}img/invite-bg-2.png'>*/
    .mycontainer{
    	z-index:3;
    	position:relative;
    }

    .wrapper,html,body{
    	background:url({{MEDIA_URL}}img/invite-bg.png) center center no-repeat;
    }
    .container, .mycontainer{
    	background:transparent;
    }
</style>
<!-- <div class="wrapper"> -->
<div class="wrapper" id="beautiful-login">

    <div class='mycontainer'>
<!-- 		<div class='invite-bg-wrapper-right'>
	    	
	    </div>
	    <div class='invite-bg-wrapper-left'>
	    	
	    </div> -->
    	<div class='container'>
    		<div style='margin-top:5%;'></div>
    		<div id='left-col'>
    			<p style='text-align:center;padding-top:50px;'><img src='{{MEDIA_URL}}img/dhubLogo500x105px.png' width=250></p>
    			<div style='width:100%;text-align:center;'><img src='{{MEDIA_URL}}img/curve-shadow.png'></div>
    			<div id='introduction-wrapper' >
    				<p>
	    				We introduce the best designs and artworks&nbsp;
	    			    <br>
	    				to make everyone lives better.&nbsp;
                        <br>In here, you can meet the most talented designers&nbsp;
                    <br>and artists and interact with them.&nbsp;
                    <br>We believe design is a co-creation process. 
	    			</p>
    			</div>
    		</div>
    		<div id='middle-col'>
    			&nbsp;
    		</div>
    		<div id='right-col'>
				<div id='login-panel-container-container'>
					<h3 id='signup-title'>Sign Up</h3>
					{% block loginsignupform %}
						<form id='login-panel-form' method='post' action='.'>
						<div id='login-panel-container'>
						    {% if allow_nickname %}
								<div class='login-row login-row-first'>
									<input id='login-username' name='username' class='login-input' type='text' placeholder="Nick name" {% if form.username.value %}value='{{form.username.value}}'{% endif %} >
									{% if form.username.errors %}
									    <div style='float:left;'><p class='error'> ***{{ form.username.errors|join:", " }}</p></div>
									{% endif %}
								</div>
								<div class='login-row'>
									<input id='login-email' name='email' class='login-input' type='text' placeholder="Email" {% if form.email.value %}value='{{form.email.value}}'{% endif %}>
									{% if form.email.errors %}
									    <div style='float:left;'><p class='error'> ***{{ form.email.errors|join:", " }}</p></div>
									{% endif %}
								</div>	
						    {% else %}
								<div class='login-row login-row-first'>
									<input id='login-email' name='email' class='login-input' type='text' placeholder="Email" {% if form.email.value %}value='{{form.email.value}}'{% endif %}>
									{% if form.email.errors %}
									    <div style='float:left;'><p class='error'> ***{{ form.email.errors|join:", " }}</p></div>
									{% endif %}
								</div>	
						    {% endif %}	
							<div class='login-row'>
								<input id='login-last_name' name='last_name' class='login-input' type='text' placeholder="Your name" {% if form.last_name.value %}value='{{form.last_name.value}}'{% endif %} >
								{% if form.last_name.errors %}
								    <div style='float:left;'><p class='error'> ***{{ form.last_name.errors|join:", " }}</p></div>
								{% endif %}
							</div>			
							<div class='login-row login-row-last'>
								<input id='login-password1' name='password1' class='login-input' type='password' placeholder="Password" >
								{% if form.password1.errors %}
								    <div style='float:left;'><p class='error'> ***{{ form.password1.errors|join:", " }}</p></div>
								{% endif %}
							</div>		
						    {% if show_newsletter %}
						    {% else %}
						        <input type='hidden' name='newsletter' value="False" />
						    {% endif %}
						    {% csrf_token %}
						    {% if next %}
						        <input type='hidden' name='next' value="{{next}}" />
						    {% endif %}
						    {% if invitor %}
						        <input type='hidden' name='invitor' value="{{invitor}}" />
						    {% endif %}
						</div>
						<div id='login-submit-container'>
						   <div class="dhbtn-wrapper"> <button class="btn btn-login" id="login-submit" name="login-submit" type="submit">REGISTER</button></div>
						</div>
						</form>
					{% endblock loginsignupform %}
			    </div>
    		</div>
    	</div>
    </div>

    <div class="push"></div>
</div>
<!-- </div> -->
<!-- <div class="clearfix" ></div> -->
<!-- </div> -->
<div class="footer"></div>
{% endspaceless %}

<script type="text/javascript" src="{{MEDIA_URL}}js/libs/jquery-1.7.2.min.js"></script>
<script type="text/javascript" >
(function ($) {
    function FauxPlaceholder() {
        if(!ElementSupportAttribute('input','placeholder')) {
            $("input[placeholder]").each(function() {
                var $input = $(this);
		        var originalColor = $input.css('color');
		        var placeholderColor = '#bbb';
                $input.after('<input id="'+$input.attr('id')+'-faux" style="display:none;" type="text" value="' + $input.attr('placeholder') + '" />');
                var $faux = $('#'+$input.attr('id')+'-faux');

                $faux.show().attr('class', $input.attr('class')).attr('style', $input.attr('style'));
                $faux.css('color',placeholderColor);    
                $input.hide();

                $faux.focus(function() {
                    $faux.hide();
                    $input.show().focus();
                    $input.css('color',originalColor);   
                });

                $input.blur(function() {
                    if($input.val() === '') {
                        $input.hide();
                        $faux.show();
                        $faux.css('color',placeholderColor);   
                    }
                });
            });
        }
    }
    function ElementSupportAttribute(elm, attr) {
        var test = document.createElement(elm);
        return attr in test;
    }
    FauxPlaceholder();	

})(jQuery);	
</script>

 
{% endblock %}
