<style>
	.center{
		text-align:center;
	}
	.talent-groups-container{
		width:100%;
	}
	.talent-groups-container, .talent-groups-container li.talent-group-container ul, .talent-groups-container-li-parent{
		padding:0px;
		margin:0px;
	}
	.talent-groups-container-li{
		list-style-type:none;
	}
	.talent-groups-container li.talent-group-container, .talent-groups-container li.talent-group-container li{
		list-style-type:none;
		text-align:center;
	}
	.talent-groups-container li.talent-group-container{
		float:left;
	}
    .talent-groups-container-li-parent{
		padding-bottom:50px;
		overflow:hidden;
	}
	.talent-groups-container li.a-z-container{
		list-style-type:none;
		text-align:center;
	}
	#artists-ajax-container{
		margin-top:0px;
	}
/*	#artists-ajax-container{
		margin-top:0px;
		margin-left:0px;
		min-width:950px;
		left:-747px;
		right:auto;
	}
    #artists-ajax-container::before{
    	left:760px;
    }
    #artists-ajax-container::after{
    	left:761px;
    }*/
     .talent-group-container a{
     	text-align:center;
     }
</style>
<div class='container'>
	<ul class='talent-groups-container-li-parent'>
		<li class='talent-groups-container-li'>
			<ul id='talent-list' class='talent-groups-container'>
			    {% for d in artists %}
			            <li><a href='{{ d.get_absolute_url }}'>{{d.name}}</a></li>
			    {% endfor %}
			</ul>
		</li>
	</ul>
</div>

