{% extends "shop/base.html" %}
{% load thumbnail %}
{% load satchmo_currency %}
{% load satchmo_discounts satchmo_tax %}
{% block pretitle %}{{designer.name}} | {% endblock pretitle %}
{% block extrastyle %}
{% endblock extrastyle %}
{% block breadcrumbs-inner %}
<span class="seperator">/</span>
<a href="{% url designer-list %}">Talents</a>
<span class="seperator">/</span>
<span>{{designer.name}}</span>
{% endblock breadcrumbs-inner %}
{% block content %}
{% spaceless %}

<div class='container' style='position:relative;height:250px;overflow:hidden;'>
	<div id='talent-box-left-parenthesis'  class='parenthesis'>
	</div>
	<div id='talent-box-middle'>
		<div class='talent-box-avater'>
	        {% thumbnail designer.main_image.picture "367x233" as image %}
	         {% if debug %}<img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" />
	         {% else %}<img src="{{MEDIA_URL}}images/index/none-327x233.png" /> {% endif %}
	        {% endthumbnail %}
		</div>
		<div class='talent-box-info-wrapper'>
			<div class='talent-box-info-inner-wrapper'>
				<div class='talent-box-info-designer-name-wrapper'>
					<h1>{{designer.name}}</h1>
				</div>
				<div class='designer-box-info-content' >
				<p>{{designer.description}}</p>
				</div>
			</div>
		</div>
		
	</div>
   
	<div id='talent-box-right-parenthesis' class='parenthesis'>
	</div>
</div>
<div class='container' style="margin-top:20px;">
    {% include 'product/product_box.html' with productBoxesList=products %}
</div>
{% endspaceless %}
{% endblock content %}
{% block mainextrajs %}

{% endblock mainextrajs %}