{% extends 'base.html' %}
{% load mptt_tags %}
{% block extrastyle %}
{% endblock extrastyle %}

{% block content %}
<div class="container">
	<div class="row special body-row">
		<div class="tweleve columns">
			<h1>Plz Complete the designer adding form</h1>
			{% if form %}
			<div>
				{% load filename setting %}
				<img src="{{MEDIA_URL}}{% setting UPLOAD_URI %}{{ object.avatar.name|filename:".40x40"}}">
			</div>
			{% endif %}
			{% if form.is_multipart %}
			    <form enctype="multipart/form-data" method="POST" action="" class="model-edit" id="designer-update">
			{% else %}
			    <form method="POST" action="" id="designer-update">
			{% endif %}
				{% csrf_token %}
			    {{form}}
			    <div>
			    	<input type="submit">
			    </div>
			    
			</form>
    	</div>
	</div>
</div>

{% endblock content %}

{% block extrajs %}
  {% if user.is_active and user.is_staff %}
      <script src="{{MEDIA_URL}}js/update-model.js"></script>
  {% endif %}

{% endblock extrajs %}
