{% extends "shop/base.html" %}
{% load i18n %}
{% load satchmo_cart %}
{% load satchmo_currency %}
{% load satchmo_util %}
{% load satchmo_product %}
{% load satchmo_discounts %}
{% load normalize_decimal %}
{% load thumbnail %}
{% load saved_percentage %}
{% block breadcrumbs-inner %}
    <span class="seperator">/</span>
	<span>Cart</span>
{% endblock breadcrumbs-inner %}
{% block content %}
<div class="container" style="padding-top:10px;">
{% if error_message %}
<div class="error">{{ error_message }}</div>
{% endif %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if not cart|length %}
    <h2>{% trans "Your cart is empty." %}</h2>
{% else %}
	<table class="table table-hover">
	  <caption><h2>{% trans "Your Cart" %}</h2></caption>
	  <thead>
	    <tr>
	      <th></th>
	      <th>{% trans "Items" %}</th>
	      <th>{% trans "Quantity" %}</th>
	      <th>{% if default_view_tax %}{% trans "Subtotal<br/>(incl.&nbsp;tax)" %}{% else %}{% trans "Subtotal" %}{% endif %}</th>
	      {% if sale %}
	          <th>
	          	Saved
	          </th>
	      {% endif %}
	      <th>{% trans "Action" %}</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for cartitem in cart %}
		    <tr>
		      <td>
        	    {% thumbnail cartitem.product.main_image.picture "80x80" as image %}
                    <a href="{{cartitem.product.get_absolute_url}}">
                    	<img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" />
                    </a>
                {% endthumbnail %}
		      </td>
		      <td><a href="{{cartitem.product.get_absolute_url}}" style="line-height:80px;">{{ cartitem.description }}</a></td>
		      <td>
                <form style='margin-top:25px;' class="qtyform form-inline" id="form-{{ cartitem.id }}" action="{% url satchmo_cart_set_qty %}" method="post">{% csrf_token %}
                    <input type="hidden" name="cartitem" value="{{ cartitem.id }}" />
					<input style='width:20px;text-align:center;' type="text" name="quantity" id="id_quantity" value="{{ cartitem.quantity|normalize_decimal }}" />
                    <button class="btn" id="id_update_submit"   type="submit">{% trans 'Update' %}</button>
                </form>
		      </td>
		      <td>
		      	<span style="line-height:80px;">
		      		{% ifnotequal  cartitem.product|discount_price:""|currency cartitem.product|sale_price|currency %}
		      		    {% with cartitem.product|discount_price:"" as original_unit_price %}
		      		        {% with cartitem.quantity|normalize_decimal as item_quantity %}
		      		            {% with  original_unit_price|mul:item_quantity as total_original_price%}
		      		                <strike>{{ total_original_price|currency}}</strike>
		      		            {% endwith %}
		      		        {% endwith %}
		      		    {% endwith %}
		      		{% endifnotequal %}
		      		{{ cartitem|discount_line_total:sale|currency }}
		      	</span>
		      </td>
		      {% if sale %}
		        <td>
		      	  <span style="line-height:80px;">
		      	  	
		      		{% ifnotequal  cartitem.product|discount_price:""|currency cartitem.product|sale_price|currency %}
		      		    {% with cartitem.product|discount_price:"" as original_unit_price %}
		      		        {% with cartitem.quantity|normalize_decimal as item_quantity %}
		      		            {% with cartitem|discount_line_total:sale as total_sale_price %}
		      		                {% with original_unit_price|mul:item_quantity as total_original_price%}
		      		                    {% with total_original_price|sub:total_sale_price as saved_money %}
		      		                        {{saved_money|currency}} ({% widthratio saved_money total_original_price  100 %}%)
		      		                    {% endwith %}
		      		                {% endwith %}
		      		            {% endwith %}
		      		         {% endwith %}
		      		    {% endwith %}
		      		{% endifnotequal %}
		      	  </span>
		      	</td>
		      {% endif %}
		      <td>
	            <form style='margin-top:25px;' action="{% url satchmo_cart_remove %}" method="post">{% csrf_token %}
	                <input type="hidden" name="cartitem" value="{{ cartitem.id }}" />
	                <button class="btn"  type="submit">{% trans 'Remove' %}</button>
	            </form>
		      </td>
		    </tr>
			{% cartitem_custom_details cartitem %}
			{% cartitem_subscription_details cartitem %}
		{% endfor %}
        <tr>
        	<td colspan="3" style='text-align:right;'>
        		<span style="line-height:40px;font-weight:bold;">{% trans "Cart Total" %}:</span>
        	</td>
            <td>
            	<span style="line-height:40px;">{{ cart|discount_cart_total:sale|currency }}</span>
            </td>
            <td>
            </td>
        </tr>
	  </tbody>
	</table>
    {% if sale %}
	{% include "product/some_discount_eligible.html" %}
	{% endif %}
	<p style='text-align:center;margin-bottom:100px;margin-top:30px;'>
		<button class="btn btn-large btn-danger" onclick='document.location="{% url satchmo_checkout-step1 %}";'>{% trans "Check out" %}</button>
	</p>
{% endif %}
</div>
{% endblock %}
