{% extends "shop/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_currency %}
{% load satchmo_discounts satchmo_tax %}
{% block extracommonjs %}
    <script type="text/javascript">
        {% if user.is_active %}
            {% with user.contact_set.all.0 as c %}
                {% if c.email %}
                {% else %}
                    location.replace('{% url create-email-password %}');
                {% endif %}
            {% endwith %}
        {% endif %}
    </script>
{% endblock extracommonjs %}
{% block breadcrumbs %}
{% endblock breadcrumbs %}
{% load cache %}
{% cache 3600 indexBody %}
{% block content %}
	<div class='container'>
			<div id="index-slider">
	    		<div class="slides_container">
				    <a href="javascript:void(0);" class='slides-image-container'>
				    	{% if debug %}
				    	<img src="{{MEDIA_URL}}images/index/1-950x480.jpg"/>
				    	{% else %}
				    	<img src="{{MEDIA_URL}}images/index/none-950x480.jpg"/>
				    	{% endif %}
				    </a>
				    <a href="javascript:void(0);" class='slides-image-container'>
				    	{% if debug %}
				    	<img src="{{MEDIA_URL}}images/index/2-950x480.jpg"/>
				    	{% else %}
				    	<img src="{{MEDIA_URL}}images/index/none-950x480.jpg"/>
				    	{% endif %}
				    </a>
	    		</div>
	    	</div>
	</div>
	<style>
	
	</style>
	<div style='height:20px;'></div>
	<div class='container index-section' style='padding-bottom:3px;'>
		<div style='padding-bottom:0px;'>
			<h2>
				Talent Today
			</h2>
		</div>
		<div style='float:left;width:550px;height:350px;position:relative;' class='designer-today-avater-wrapper'>
	        {% thumbnail designer.main_image.picture "550x350"  crop="center" as image %}
	         {% if debug %}<img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" />
	         {% else %}<img src="{{MEDIA_URL}}images/index/none-550x350.png" /> {% endif %}
	        {% endthumbnail %}
	        <a class='designer-today' href='{{designer.get_absolute_url}}'>{{designer.name}}</a>
		</div>
		<div style='float:right;width:400px;height:350px;'>
			<div class='designer-today-featured-designs-container'>
				{% for p in designer.mynewproduct_set.all%}
				    {% if forloop.counter < 7 %}
				    <a class='designer-today-featured-design' href='{{ p.product.get_absolute_url }}'
				        data-index={{forloop.counter}}
				    >
				    	<div class='black-bg-designer-today-featured-design'>
				    	
					    {% thumbnail p.product.productimage_set.all.1.picture "131x174" crop='center' as image %}
	                     {% if debug %}<img src="{{ image.url }}" />{% else %}
	                     <img src="{{MEDIA_URL}}images/index/none-131x174.png" /> {% endif %}
					    {% endthumbnail %}
					    </div>
				    </a>
				    {% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="clearfix" ></div>
	</div>
	
	{% if featured_cats %}
	
	    {% for fc in featured_cats %}
			<div class='container index-section'>
				<div style='padding-bottom:0px;'>
					<h2>
						Featured {{ fc.name}}
					</h2>
				</div>
				{% include 'product/product_box.html' with productBoxesList=fc.list %}
	        </div>
	    {% endfor %}
	{% endif %}
	{% if featured_preorder_products_list %}
		<div class='container index-section'>
			<div style='padding-bottom:0px;'>
				<h2>
					Featured Ideas
				</h2>
			</div>
			{% include 'product/product_box.html' with productBoxesList=featured_preorder_products_list %}  
	   </div>
{% endif %}
{% endblock content %}
{% block indexfooter %}

{% endblock indexfooter %}
{% block preloadextrajs %}
<script type="text/javascript" src="{{MEDIA_URL}}js/libs/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/libs/jquery.autocsrftoken.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/slides.min.jquery.js"></script>
<script type="text/javascript">
(function ($) {
	$('#index-slider').slides({
		preload: true,
		preloadImage: '{{ MEDIA_URL }}img/loading.gif',
		effect: 'slide, fade',
		crossfade: true,
		slideSpeed: 350,
		fadeSpeed: 500,
		generateNextPrev: true,
		generatePagination: false,
		play: 5000
	});
})(jQuery);
</script>
{% endblock %}
{% endcache %}