{% extends "shop/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_util %}
{% load satchmo_currency %}
{% load satchmo_discounts satchmo_tax %}
	{% block breadcrumbs %}
	{% endblock breadcrumbs %}
	{% block content %}
	<div class='container'>
    		<div id="index-slider">
	    		<div class="slides_container">
				    <a href="javascript:void(0);" class='slides-image-container'>
				    	<img src="{{MEDIA_URL}}images/index/none-960.jpg"/>
				    </a>
				    <a href="javascript:void(0);" class='slides-image-container'>
				    	<img src="{{MEDIA_URL}}images/index/none-960.jpg"/>
				    </a>
	    		</div>
	    	</div>
	</div>
	<style>
		#index-slider .slides_container{
		    height:552px;
		    border-bottom:5px solid #555;
			-webkit-border-radius: 0px 0px 4px 4px;
			-moz-border-radius: 0px 0px 4px 4px;
			border-radius: 0px 0px 4px 4px;
		}
		#index-slider .slides_container img{
			-webkit-border-radius: 4px 4px 0px 0px;
			-moz-border-radius: 4px 4px 0px 0px;
			border-radius: 4px 4px 0px 0px;
		}
		#index-slider .slides_container a{
			display:block;
		}
	    #index-slider{
	    	position:relative;
	    }
	    a.prev, a.next{
			position:absolute;
			display:block;
			z-index:100;
			width:50%;
			top:0px;
			height:0px;
			padding-top:552px;
			overflow:hidden;
	    }
		a.prev{
			left:0px;
		}
		a.next{
			right:0px;
		}
		a.prev:hover{
			background:url({{MEDIA_URL}}img/arrow-left.png) no-repeat 12px 235px;
		}
		a.next:hover{
			right:0px;
			background:url({{MEDIA_URL}}img/arrow-right.png) no-repeat 446px 235px;
		}
	</style>
	<div style='height:20px;'></div>
	<div class='container index-section' style='padding-bottom:3px;background:url({{MEDIA_URL}}images/index/talent-today-bg-border-01.png) no-repeat 0 -20px;'>
		<div style='padding-bottom:0px;'>
			<h4 class='section-title'>
				Talent Today
			</h4>
		</div>
		<div style='float:left;width:50%;height:350px;position:relative;'>
            {% thumbnail designer.main_image.picture "350x350"  crop="center" as image %}
                <!--<img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" />-->
                <img src="{{MEDIA_URL}}images/index/none-350.jpg" />
            {% endthumbnail %}
            <a class='designer-today' href='{{designer.get_absolute_url}}'>{{designer.name}}</a>
		</div>
		<style>
		    .index-section{
		    	border-top:2px solid #555;
		    	margin-top:40px;
				-webkit-border-radius: 2px 2px 0px 0px;
				-moz-border-radius: 2px 2px 0px 0px;
				border-radius: 2px 2px 0px 0px;
		    }
		    .index-section .section-title{
		    	padding-top:0px;
		    	margin-top:0px;
		    }
			.designer-today{
				display:block;
				position:relative;
				bottom:50px;height:50px;padding:0px;width:350px;text-align:center;line-height:50px;
				-webkit-border-radius: 0px 0px 4px 4px;
				-moz-border-radius: 0px 0px 4px 4px;
				border-radius:  0px 0px 4px 4px;
				background:rgba(0, 0, 0, 0.5);
			}
			.designer-today:hover{
				background:rgba(0, 0, 0, 0.8);
			}
		</style>
		<div style='float:right;width:50%;height:350px;'>
			<div class='designer-today-featured-designs-container'>
				{% for p in designer.mynewproduct_set.all%}
				    {% if forloop.counter < 5 %}
				    <a class='designer-today-featured-design' href='{{ p.product.get_absolute_url }}'>
				    	<div class='black-bg-designer-today-featured-design'>
					    {% thumbnail p.product.productimage_set.all.1.picture "120x120" crop='center' as image %}
					    	<!--<img src="{{ image.url }}" />-->
					    	<img src="{{MEDIA_URL}}images/index/none-120.jpg" />
					    {% endthumbnail %}
					    </div>
				    </a>
				    {% endif %}
				{% endfor %}
			</div>
		</div>
		<style>
		    .designer-today-featured-designs-container{
		    	margin-left:120px;
		    	margin-top:20px
		    }
		    .designer-today-featured-design{
		    	display:block;
		    	padding:15px;
		    	float:left;
		    }
		    .black-bg-designer-today-featured-design{
		    	background:#555;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
		    }
		    .designer-today-featured-design img{
		    	opacity: 0.85;
		    }
			.designer-today-featured-design:hover{
				text-decoration:none;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
			}
			.designer-today-featured-design:hover.designer-today-featured-design img{
		    	opacity: 1;
		    }
		</style>
		<div class="clearfix" ></div>
	</div>
	
    {% if featured_cats %}

        {% for fc in featured_cats %}
			<div class='container index-section'>
				<div style='padding-bottom:0px;'>
					<h4 class='section-title'>
						Featured {{ fc.name}}
					</h4>
				</div>
            {% for product in fc.list %}
		        {% if forloop.first %} <div class="pic-list-container"> {% endif %}
		            <div style="width:238px;float:left;" class='toggleImage-container product-index-container'>
		            	<a href="{{ product.get_absolute_url }}"  class="pic-container-a hover-tip" title="{{ product.translated_name }} | coming soon!"> 
		            		<!--<div class="tip-content-when-hover">
		            			Sample
		            	 </div>-->
		            	    {% thumbnail product.main_image.picture "180x230" crop='center' as image %}
		            	        {% if product.productimage_set.all.count > 1 %}
		            	            {% thumbnail product.productimage_set.all.1.picture "180x230" crop='center' as image1 %}
		            	                <!--<img class='toggleImage' src="{{ image.url }}" data-other='{{ image1.url}}' width="{{ image.width }}" height="{{ image.height }}" />-->
		            	                <img class='toggleImage' src="{{MEDIA_URL}}images/index/none-180x230.jpg" data-other='{{MEDIA_URL}}images/index/none-180x230.jpg' width="{{ image.width }}" height="{{ image.height }}" />
		            	            {% endthumbnail %}
		            	        {% else %}
		            	            <!--<img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" />-->
		            	            <img src="{{MEDIA_URL}}images/index/none-180x230.jpg" width="{{ image.width }}" height="{{ image.height }}" />
		            	        {% endif %}
		                    {% endthumbnail %}
		                </a>
		                <a href='{{ product.get_absolute_url }}' class='product-name-container'>
		                	<span class='brand-name-index'>{{product.mynewproduct.brand.name}}</span>
		                	<span class='product-name-index'>{{product.name}}</span>
		                	{% ifnotequal  product|discount_price:""|currency product|sale_price|currency %}
						    <span class='product-original-price-index'>
						    	<strike style="display: block;" id="fullprice">{{ product|discount_price:""|currency }}</strike>
						    </span>
						    {% endifnotequal %}
							<span class='product-price-index'>{{ product|sale_price|currency }}</span>
							
		                </a>
		            </div>
		        {% if forloop.last %} </div>{% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
	{% if featured_preorder_products_list %}
		<div class='container index-section'>
			<div style='padding-bottom:0px;'>
				<h4 class='section-title'>
					Featured Ideas
				</h4>
			</div>
            {% for product in featured_preorder_products_list %}
		        {% if forloop.first %} <div class="pic-list-container"> {% endif %}
		            <div style="width:238px;float:left;" class='toggleImage-container product-index-container'>
		            	<a href="{{ product.get_absolute_url }}"  class="pic-container-a hover-tip" title="{{ product.translated_name }} | coming soon!"> 
		            		<!--<div class="tip-content-when-hover">
		            			Sample
		            	 </div>-->
		            	    {% thumbnail product.main_image.picture "180x230" crop='center' as image %}
		            	        {% if product.productimage_set.all.count > 1 %}
		            	            {% thumbnail product.productimage_set.all.1.picture "180x230" crop='center' as image1 %}
		            	                <!--<img class='toggleImage' src="{{ image.url }}" data-other='{{ image1.url}}' width="{{ image.width }}" height="{{ image.height }}" />-->
		            	                <img class='toggleImage' src="{{MEDIA_URL}}images/index/none-180x230.jpg" data-other='{{MEDIA_URL}}images/index/none-180x230.jpg' width="{{ image.width }}" height="{{ image.height }}" />
		            	            {% endthumbnail %}
		            	        {% else %}
		            	            <!--<img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" />-->
		            	            <img src="{{MEDIA_URL}}images/index/none-180x230.jpg" width="{{ image.width }}" height="{{ image.height }}" />
		            	        {% endif %}
		                    {% endthumbnail %}
		                </a>
		                <a href='{{ product.get_absolute_url }}' class='product-name-container'>
		                	<span class='brand-name-index'>{{product.mynewproduct.brand.name}}</span>
		                	<span class='product-name-index'>{{product.name}}</span>
		                	{% ifnotequal  product|discount_price:""|currency product|sale_price|currency %}
						    <span class='product-original-price-index'>
						    	<strike style="display: block;" id="fullprice">{{ product|discount_price:""|currency }}</strike>
						    </span>
						    {% endifnotequal %}
							<span class='product-price-index'>{{ product|sale_price|currency }}</span>
							
		                </a>
		            </div>
		        {% if forloop.last %} </div>{% endif %}
            {% endfor %}
           </div>
	{% endif %}
	{% endblock content %}
	{% block indexfooter %}
	<div style="width:100%; height: 400px; background:#F3F4EE;border-top: 1px solid #E8E7DC;border-bottom: 1px solid #E8E7DC;">
		
		<div class='container'>
			<div style='padding-top:30px;padding-bottom:0px;'>
				<h3 style='text-align:center;'>
					About Designhub.hk
				</h3>
			</div>
			<div class='index-footer-col'>
				<div class='index-footer-col-border'>
					<h5 style='text-align:center;'>
						Designs
					</h5>
					<p>
						Designs begin as a simple drawing in a sketchbook and are then modeled in CAD, where they are patterned with the highest level of precision. Each and every detail is carefully considered, down to the exact number of stitches. Once the initial pattern is complete, the first prototype is created by hand, just a few feet from the CAD workstation. The prototyping process is known to take several months, with each revision being more structurally and aesthetically sound than the last. Finally, samples are created from several material options and only then is the design either rejected or approved for production.
					</p>
				</div>
			</div>
			<div class='index-footer-col'>
				<div class='index-footer-col-border'>
					<h5 style='text-align:center;'>
						Designers / Artists
					</h5>
					<p>
						The prototyping process is known to take several months, with each revision being more structurally and aesthetically sound than the last. Finally, samples are created from several material options and only then is the design either rejected or approved for production.Designs begin as a simple drawing in a sketchbook and are then modeled in CAD, where they are patterned with the highest level of precision. Each and every detail is carefully considered, down to the exact number of stitches. Once the initial pattern is complete, the first prototype is created by hand, just a few feet from the CAD workstation.
					</p>
				</div>
			</div>
		</div>
		<style>
		    
			.index-footer-col{
				float:left;
				width:50%;
				height:230px;
			}
			.index-footer-col-border{
				padding: 0px 30px 50px 30px;
				width:400px;
				margin-left:auto;margin-right:auto;
				height:230px;
			}
		</style>
	</div>
	{% endblock indexfooter %}
{% block preloadextrajs %}
<script type="text/javascript" src="{{MEDIA_URL}}js/libs/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/libs/jquery.autocsrftoken.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/slides.min.jquery.js"></script>
<script type="text/javascript">
(function ($) {
	$('#index-slider').slides({
		preload: true,
		preloadImage: '{{ MEDIA_URL }}img/loading.gif',
		effect: 'slide, fade',
		crossfade: true,
		slideSpeed: 350,
		fadeSpeed: 500,
		generateNextPrev: true,
		generatePagination: false,
		play: 5000
	});
})(jQuery);
</script>
{% endblock %}