{% extends "shop/base.html" %}
{% load satchmo_category %}
{% block extracommonjs %}
    <script type="text/javascript">
        {% if user.is_active %}
            {% with user.contact_set.all.0 as c %}
                {% if c.email %}
                {% else %}
                    location.replace('{% url create-email-password %}');
                {% endif %}
            {% endwith %}
        {% endif %}
    </script>
{% endblock extracommonjs %}
{% block breadcrumbs-inner %}
	{% block breadcrumbs-category %}
	    {% include "product/category_path.html" with category=category %}
	    <div style='float:right'>
	    	{% include "product/ordering.html"%}
	    </div>
	{% endblock breadcrumbs-category %}
{% endblock breadcrumbs-inner %}
{% block content %}
	{% block content-product %}
	{% endblock content-product %}
{% endblock content %}