{% load thumbnail %}
{% spaceless %}
        {% if product.mynewproduct.designer %}
        <div style='float:left;width:160px;'>
		    {% if product.mynewproduct.designer.main_image %}
		            {% thumbnail product.mynewproduct.designer.main_image.picture "150x150"  crop="center" as image %}
		            <a href='{{product.mynewproduct.designer.get_absolute_url}}'>
		            {% if debug %}
     		           <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" />
     		        {% else %}
		            <img src="{{MEDIA_URL}}images/index/none-150.jpg" width="{{ image.width }}" height="{{ image.height }}" />
		            {% endif %}
		           </a>
		           {% endthumbnail %}
		    {% endif %}
        </div>
        <div style='float:right;width:370px;margin-right:26px;'>
        	
        		<a href='{{product.mynewproduct.designer.get_absolute_url}}' class='designer-name'>
        			<h2>{{product.mynewproduct.designer.name}}</h2>
        		</a>
        	
        	<p>{{product.mynewproduct.designer.description}}</p>
        </div>
        {% endif %}
{% endspaceless %}
