{% extends "product/product.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_price %}
{% load satchmo_util %}
{% load satchmo_currency satchmo_category%}
{% load satchmo_discounts satchmo_tax %}
{% load app_plugins %}
{% load satchmo_thumbnail %}

{% block extra-head %}

{% include "shop/_jquery.html" %}
{% include "shop/_jquery_form.html" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/satchmo_product.js"></script>
{% blackbird_logging %}
<script type="text/javascript">{# Javascript which is generated uniquely for each page #}
satchmo.default_view_tax = {% if default_view_tax %}true{% else %}false{% endif %};

satchmo.variations = {{ details|as_json }};

satchmo.set_option_ids([{% for option_group in options %}{{ option_group.id }}{% if not forloop.last %},{% endif %}{% endfor %}]);

$(function() {
    satchmo.update_price();
    $('.priced').change(function() { satchmo.update_price() });
});

// generate thumbnails for all alternate images
satchmo.thumbnails = new Array();
{{ details|js_thumbnail_array:"width=280,height=280" }}
</script>
{% endblock %}
{% block breadcrumbs-category %}
    {% include "product/product_path.html" with product=product %}
{% endblock breadcrumbs-category %}
{% block productdetail %}
        <div class="container" style="margin-top:0px;margin-bottom:20px;padding-bottom:20px;">
            {% include 'product/preorderproduct-detail-leftcol.html' with product=product %}
            {% include 'product/preorderproduct-detail-rightcol-base.html' with product=product %}
        </div>

{% endblock %}
{% block preloadextrajs %}
<script type="text/javascript" src="{{MEDIA_URL}}js/slides.min.jquery.js"></script>
<script type="text/javascript">
(function ($) {
	$('#index-slider').slides({
		preload: true,
		preloadImage: '{{ MEDIA_URL }}img/loading.gif',
		effect: 'slide, fade',
		crossfade: true,
		slideSpeed: 350,
		fadeSpeed: 500,
		generateNextPrev: true,
		generatePagination: false,
		play: 5000
	});
})(jQuery);
</script>
{% endblock preloadextrajs %}