
{% load i18n %}
{% load satchmo_price %}
{% load satchmo_currency%}
{% load satchmo_util satchmo_discounts %}
{% spaceless %}

	<div class='product-detail-price-wrapper'>
		<span>{{ product|discount_price:sale|currency }}</span>
	</div>
	<div class="styled-select">	
	<select id="quantity"  name="quantity"  class="select" title="Qty:">
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
        <option value='4'>4</option>
        <option value='5'>5</option>
    </select>
   </div>

	<input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
	<div class='dhbtn-wrapper'>
	    <button class="btn dhbtn" id="addcart"  name="addcart"  type="submit">{% trans "Add to cart" %}</button>
	</div>
	<input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
{% endspaceless %}
