{% load app_plugins %}
{% load i18n %}
{% load satchmo_price %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_util satchmo_discounts %}
{% load cache %}
{% spaceless %}
	<div style="width:480px;float:right;margin-bottom:70px;" class='product-detail-right-rol'>
		<div style='width:470px;margin-left:auto;margin-right:0;'>
			{% cache 1 productDetail::rightcol::titles product.slug %}
			<h1>{{ product.translated_name }}</h1>
            {% if product.mynewproduct.brand %}<h5 style='text-align:center;margin-bottom:0px;line-height:18px;'>{{ product.mynewproduct.brand.name }}</h5>{% endif %}
            <h5 style='text-align:center;font-style:italic;margin-top:0px;color:#bbb;'>by <a href='{{ product.mynewproduct.designer.get_absolute_url}}' style='font-size:14px;' class='designer-name'>{{ product.mynewproduct.designer.name }}</a></h5>
            <div class='pay-form-wrapper'>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% endcache %}
			
				{% cache 1 productDetail::rightcol::attributes product.slug %}
				{% with product.translated_attributes as atts %}{% if atts %}
				<span class="productattributes">
				{% for att in product.translated_attributes %}
				{{ att.description }}: {{ att.value }}
				{% endfor %}
				</span>
				{% endif %}{% endwith %}
				{% endcache %}

                <form id="options" style='text-align:center;' class='form-inline' action="{% url satchmo_smart_add %}" method="post">{% csrf_token %}
                	
					{% cache 1 productDetail::rightcol::sale product.slug %}
					{% if sale %}
					    <div class='product-detail-price-wrapper'>
							<span style='text-align:center;'>
								<strike id="fullprice">{{ product|discount_price:""|currency }}</strike>
						    </span>
					    </div>
					{% endif %}
					<div class='product-detail-price-wrapper'>
						<span>
						    {{ product|discount_price:sale|currency }}
						</span>
					</div>
					{% endcache %}
					{% cache 3600 productDetail::rightcol::preorder1 product.slug %}
					{% if product.mynewproduct.preorder %}
					    <div style='text-align:center'>
					    	<span class='label'>Pre-order Item</span>
					    </div>
					    <div style='text-align:center;margin-bottom:18px;'>
							<span>
								Pre-order campaign ending on <span style='text-decoration:underline;'>{{ product.mynewproduct.end }}</span>
							</span>
					    </div>
					{% endif %}
					{% endcache %}
                	{% block add_to_cart_form %}
                	    {% include 'product/product-detail-rightcol-add-to-cart-form.html' with product=product %}
					{% endblock add_to_cart_form %}
					{% plugin_point "product_add_buttons" %}
					{% plugin_point "product_form" %}
				</form>
				
			</div>
			{% cache 3600 productDetail::rightcol::info1 product.slug %}
			<div class='product-info-tabs-wrapper'>
                {% include 'product/product-info-tabs.html' with product=product %}
			</div>
            {% endcache %}

		</div>
    </div>
{% endspaceless %}
