{% load thumbnail %}
{% load satchmo_currency %}
{% load satchmo_discounts satchmo_tax %}
{% load cache %}
{% for product in productBoxesList %}
    {% if forloop.first %} <div class="pic-list-container"> {% endif %}
    	{% cache 3600 productListing::productbox product.slug %}
        <div style="width:235px;float:left;" class='toggleImage-container product-index-container'>
        	<a href="{{ product.get_absolute_url }}"  class="pic-container-a hover-tip" title="{{ product.translated_name }} | coming soon!"> 
        		<!--<div class="tip-content-when-hover">
        			Sample
        	 </div>-->
        	    {% thumbnail product.main_image.picture "209x230" crop='center' as image %}
        	        <div class='pic-container-img-wrapper'>
        	        {% if product.productimage_set.all.count > 1 %}
        	            {% thumbnail product.productimage_set.all.1.picture "209x230" crop='center' as image1 %}
        	                {% if debug %}
                            <img class='toggleImage' src="{{ image.url }}" data-other='{{ image1.url}}' width="{{ image.width }}" height="{{ image.height }}" />
                            {% else %}<img class='toggleImage' src="{{MEDIA_URL}}images/index/none-180x230.jpg" data-other='{{MEDIA_URL}}images/index/none-180x230.jpg' width="{{ image.width }}" height="{{ image.height }}" /> 
                            {% endif %}
        	            {% endthumbnail %}
        	        {% else %}
        	            {% if debug %}
                            <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" />
                        {% else %}
            	            <img src="{{MEDIA_URL}}images/index/none-180x230.jpg" width="{{ image.width }}" height="{{ image.height }}" />
        	            {% endif %}
        	        {% endif %}
        	        </div>
                {% endthumbnail %}
            </a>
            <a href='{{ product.get_absolute_url }}' class='product-name-container'>
            	<span class='brand-name-index'>{{product.mynewproduct.brand.name}}</span>
            	<span class='product-name-index'>{{product.name}}</span>
            	{% ifnotequal  product|discount_price:""|currency product|sale_price|currency %}
			    <span class='product-original-price-index'>
			    	<strike style="display: block;" id="fullprice">{{ product|discount_price:""|currency }}</strike>
			    </span>
			    {% endifnotequal %}
				<span class='product-price-index'>{{ product|sale_price|currency }}</span>
				
            </a>
        </div>
        {% endcache %}
    {% if forloop.last %} </div>{% endif %}
{% endfor %}