{% load thumbnail %}
{% load satchmo_currency %}
{% load satchmo_discounts satchmo_tax %}
{% load cache %}
{% for product in productBoxesList %}
    {% if forloop.first %} <div class="pic-list-container"> {% endif %}
    	{% cache 1 productListing::productbox1 product.slug %}
        <div style="width:235px;float:left;" class='toggleImage-container product-index-container'>
        	<a href="{{ product.get_absolute_url }}"  class="pic-container-a hover-tip" title="{{ product.translated_name }}"> 
        		<!--<div class="tip-content-when-hover">
        			Sample
        	 </div>-->
        	    {% thumbnail product.main_image.picture "209x230" crop='center' as image %}
        	        <div class='pic-container-img-wrapper'>
        	        {% if product.productimage_set.all.count > 1 %}
        	            {% thumbnail product.productimage_set.all.1.picture "209x230" crop='center' as image1 %}
                            <img class='toggleImage' src="{{ image.url }}" data-other='{{ image1.url}}' width="{{ image.width }}" height="{{ image.height }}" />
        	            {% endthumbnail %}
        	        {% else %}
                            <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" />
        	        {% endif %}
        	        </div>
                {% endthumbnail %}
            </a>
            <a href='{{ product.get_absolute_url }}' class='product-name-container'>
            	<span class='brand-name-index'>{{product.mynewproduct.brand.name}}</span>
            	<span class='product-name-index'>{{product.name}}</span>
            	{% if product.mynewproduct %}
            	    <span class='product-box-hover-show'>by</span><span class='designer-name product-box-hover-show'> {{product.mynewproduct.designer.name}}</span>
	            	{% ifnotequal  product|discount_price:""|currency product|sale_price|currency %}
				    <span class='product-original-price-index'>
				    	<strike style="display: block;" id="fullprice">{{ product|discount_price:""|currency }}</strike>
				    </span>
				    {% endifnotequal %}
					<span class='product-price-index'>{{ product|sale_price|currency }}</span>
				{% else %}
				    <span class='product-box-hover-show'>by</span><span class='designer-name product-box-hover-show'> {{product.preorderproduct.designer.name}}</span>
				{% endif %}
            </a>
            {% if product.mynewproduct %}
                {% ifnotequal  product|discount_price:""|currency product|sale_price|currency %}
                    {% load saved_percentage %}
					<div class='discount-tip'>
						<span class="discount"></span>
						<span class="discount-text">
							{% with product|discount_price:"" as original_unit_price %}
							    {% with product|sale_price as sale_price %}
							        {% with original_unit_price|sub:sale_price as saved_money %}
							            -{% widthratio saved_money original_unit_price  100 %}%
							        {% endwith %}
							    {% endwith %}
							{% endwith %}
                        </span>
					</div>
			    {% endifnotequal %}
			{% endif %}
			{% if product.preorderproduct %}
			<div class='preorder-tip'>
				<span>Pre Order</span>
			</div>
			{% endif %}
        </div>
        {% endcache %}
    {% if forloop.last %} </div>{% endif %}
{% endfor %}