{% extends "product/base.html" %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.fancybox.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.fancybox-thumbs.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.mCustomScrollbar.css" />
<style>
#fancybox-thumbs{
width:80px;
}
</style>
{% endblock %}
{% comment %}
-------------------------------------------------------------------
This is the base product detail page.
To modify the templates of specific types of products, such as
ProductVariations or CustomProducts, look for product/detail_xxx.html
-------------------------------------------------------------------
{% endcomment %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_price %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_util satchmo_discounts %}
{% load app_plugins %}

{% block extra-head %}
{% if product.meta %}
    <meta name="description" content="{{product.meta}}">
{% endif %}
{% endblock %}
{% block breadcrumbs-category %}
    {% include "product/product_path.html" with product=product %}
{% endblock breadcrumbs-category %}

{% block content %}

    {% block productdetail %}
    <div class="container" style="margin-top:10px;margin-bottom:20px;padding-bottom:20px;">
    	<div style="width:540px;float:left;margin-bottom:100px;">
    		<div id="product">
    			<div class='content' >
	    	    <ul class="pagination">
	    			{% for pic in product.productimage_set.all %}
					    {% thumbnail pic.picture "80x120" crop='center' as image %}
					    <li>
					    	<a href="#" class="product-detail-thumnail" style='background:transparent;'>
					    	<img src="{{ image.url }}" />
					    </a>
					    </li>
					    {% endthumbnail %}
					{% endfor %}	    			
	    		</ul>
	    		</div>
	    		<div class="slides_container">
	    			{% for pic in product.productimage_set.all %}
	    			    {% thumbnail pic.picture "400x400" crop='center'  as image %}
					    {% thumbnail pic.picture "750x750" as image_b %}
					    <a class="fancybox-thumb zoom-in qtip-zoom-in" title='Click to enlarge' rel="fancybox-thumb" href="{{ image_b.url }}">
					    	<img src="{{ image.url }}"/>
					    </a>
					    {% endthumbnail %}
					    {% endthumbnail %}
					{% endfor %}
	    		</div>
	    	</div>
	    	<link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
	    	<style>
	    		.sharing-label,.sharing-method, .say-something2designer{
	    			font-family: 'Nothing You Could Do', cursive;
	    		}
	    		.say-something2designer{
	    			font-size:18px;
	    		}
	    		.sharing-label{
	    			margin-right:10px;
	    		}
	    		.sharing-method{
	    			margin-right:8px;
	    		}
	    	</style>
	    	<script>
	    		function sendMail() {
				    var link = "mailto:?"
				             +"subject=" + escape("Share A Cool Stuff {{product.name}}")
				             + "&body=" + escape('http://{{ request.META.HTTP_HOST }}{{request.get_full_path}} ' + '{{product.description}}')
				    ;
				
				    window.location.href = link;
				}
	    	</script>
	    	<div class="clearfix"></div>
	    	<div style='margin-top:20px;margin-left:130px;'>
	    		<span class='sharing-label'>Share via:</span>
	    		<a class='sharing-method qtip-title-tip' title='Send to your friends' onclick="sendMail(); return false" href='javascript:void(0);'  target="_blank">Email</a>
	    		<a class='sharing-method qtip-title-tip' title='share this cool design with your friends in Facebook'  target="_blank" href='http://www.facebook.com/sharer.php?u=http%3A%2F%2F{{ request.META.HTTP_HOST }}{{request.get_full_path}}&t=DesignHub%20for%20local%creativity'>Facebook</a>
	    		<a class='sharing-method qtip-title-tip' title='share this cool design in Sina Weibo | 在微博上分享這次發現'  target="_blank" href='http://service.t.sina.com.cn/share/share.php?url=http%3A%2F%2F{{ request.META.HTTP_HOST }}{{request.get_full_path}}&title={{product.mynewproduct.brand.name}}%20%7C%20{{product.name}}%20by%20{{product.mynewproduct.designer.name}}'>Weibo</a>
	    		<a class='sharing-method qtip-title-tip' title='Tweet me' target="_blank" href='http://twitter.com/intent/tweet?url=http://{{ request.META.HTTP_HOST }}{{request.get_full_path}}&text={{product.description}};I love this design!&via=DesignHub.hk&related=designhub'>Twitter</a>
	    	</div>
    	</div>
    	<div style="width:420px;float:right;margin-bottom:20px;">
    		<div style='width:320px;margin-left:auto;margin-right:auto'>
    			<h3 style='text-align:center;'>{{ product.translated_name }}</h3>
                <h5 style='text-align:center;margin-bottom:0px;line-height:18px;'>{{ product.mynewproduct.brand.name }}</h5>
                <h5 style='text-align:center;font-style:italic;margin-top:0px;line-height:18px;color:#bbb;'>by <a href='#' style='font-size:14px;'>{{ product.mynewproduct.designer.name }}</a></h5>
                <div style='height:45px;'></div>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                
    			<div style='margin-bottom:35px;'>
					{% with product.translated_attributes as atts %}{% if atts %}
					<span class="productattributes">
					{% for att in product.translated_attributes %}
					{{ att.description }}: {{ att.value }}
					{% endfor %}
					</span>
					{% endif %}{% endwith %}
					
					{% if sale %}
						<span style='text-align:center;'>
							<strike id="fullprice" style="display: block;margin-bottom:7px;">{{ product|discount_price:""|currency }}</strike>
					    </span>
					{% endif %}
	                <form id="options" style='text-align:center;' class='form-inline' action="{% url satchmo_smart_add %}" method="post">{% csrf_token %}
	                	<span style='margin-right:5px;line-height:24px;'>{{ product|discount_price:sale|currency }}</span>	
		        		<select id="quantity" class="span1" style='font-size:12px;line-height:24px;' name="quantity">
				            <option value='1' style='font-size:12px;line-height:24px;'>Qty:1</option>
				            <option value='2' style='font-size:12px;line-height:24px;'>2</option>
				            <option value='3' style='font-size:12px;line-height:24px;'>3</option>
				            <option value='4' style='font-size:12px;line-height:24px;'>4</option>
				            <option value='5' style='font-size:12px;line-height:24px;'>5</option>
	                    </select>

								<input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
								<span style='margin-right:5px;line-height:24px;'>&nbsp;</span>
								<button class="btn btn-small btn-danger" id="addcart"  name="addcart"  type="submit">{% trans "Add to cart" %}</button>
					<input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
					{% plugin_point "product_add_buttons" %}
					{% plugin_point "product_form" %}
					</form>
    			</div>
    			{% if product.mynewproduct.concept %}
    			<div style='margin-top:8px;margin-bottom:15px;'>
	    			<h5 style='margin-bottom:5px;'>Concept</h5>
	    			<p>
	    				{{product.mynewproduct.concept}}
	    			</p>
    		    </div>
    			{% endif %}
    			{% if product.description %}
    			<div style='margin-top:8px;margin-bottom:15px;'>
	    			<h5 style='margin-bottom:5px;'>Information</h5>
	    			<p>
	    				{{product.description}}
	    			</p>
	    		</div>
    			{% endif %}
    			<div style='margin-top:35px;'>
	                <form id="options2" style='text-align:center;' class='form-inline' action="{% url satchmo_smart_add %}" method="post">{% csrf_token %}
	                	<span style='margin-right:5px;line-height:24px;'>{{ product|discount_price:sale|currency }}</span>	
		        		<select id="quantity" class="span1" style='font-size:12px;line-height:24px;' name="quantity">
				            <option value='1' style='font-size:12px;line-height:24px;'>Qty:1</option>
				            <option value='2' style='font-size:12px;line-height:24px;'>2</option>
				            <option value='3' style='font-size:12px;line-height:24px;'>3</option>
				            <option value='4' style='font-size:12px;line-height:24px;'>4</option>
				            <option value='5' style='font-size:12px;line-height:24px;'>5</option>
	                    </select>

								<input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
								<span style='margin-right:5px;line-height:24px;'>&nbsp;</span>
								<button class="btn btn-small btn-danger" id="addcart"  name="addcart"  type="submit">{% trans "Add to cart" %}</button>
					<input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
					{% plugin_point "product_add_buttons" %}
					{% plugin_point "product_form" %}
					</form>
				</div>
    		</div>

    			
        </div>
        <div class="clearfix" ></div>
        <br><br>
        <div style='width:60%;float:left;'>
        	{% include "product/designer.html" %}
        </div>
        <div style='width:40%;float:left;'>
        	{% if user.is_active %}
        	{% include "product/comments/form.html" %}
        	{% else %}
        	{% include "product/comments/login_form.html" %}
        	{% endif %}
        	{% include "product/comments/comments_list.html" %}
        </div>
        <div class="clearfix" ></div>
		{% block productfooter %}
		<!--{% if sale %}{% include "product/product_discount_eligible.html" %}{% endif %}-->
		{% plugin_point "product_footer" %}
		{% endblock %}
    </div>
    

    {% endblock %}
{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="{{MEDIA_URL}}js/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/slides.min.jquery.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript">
var productid = {{product.id}};
</script>
<script type="text/javascript">
(function ($) {

	$('#product').slides({
		preload: true,
		preloadImage: '{{ MEDIA_URL }}img/loading.gif',
		effect: 'slide, fade',
		crossfade: true,
		slideSpeed: 350,
		fadeSpeed: 500,
		generateNextPrev: false,
		generatePagination: false
	});
})(jQuery);

</script>
<script type="text/javascript">
	$(".fancybox-thumb").fancybox({
		prevEffect	: 'none',
		nextEffect	: 'none',
		padding : 0,
		helpers	: {
			title	:false,
			thumbs	: {
				width	: 50,
				height	: 50,
				position: 'left'
			}
		}
	});

    (function($){
        $(window).load(function(){ 
            $(".content").mCustomScrollbar();
		});
    })(jQuery);

    	(function ($) {
	        $('.qtip-zoom-in').qtip({
				position: {
					at:'right center',
					my: 'left center',
					target: 'mouse',
					viewport: $(window), // Keep it on-screen at all times if possible
					adjust: {
						x: 20,  y:35
					}
				},
				hide: {
					fixed: true // Helps to prevent the tooltip from hiding ocassionally when tracking!
				},
	        	style:{classes: 'ui-tooltip-light'}
	        });
		})(jQuery);

</script>
{% endblock %}
