
{% load i18n %}
{% load satchmo_price %}
{% load satchmo_currency%}
{% load satchmo_util satchmo_discounts %}
{% spaceless %}

	<div class='product-detail-price-wrapper'>
		<span>
		    {{ product|discount_price:sale|currency }}
		</span>
		</div>	
	{% for option_group in options %}
	    <div class="styled-select">	
		    <select id="{{option_group.id}}" name="{{ option_group.id }}" class="select other-option" title="{{option_group.name}}:" >
			    {% for choice in option_group.items %}
				     <option value="{{ choice.value }}" {% if choice.selected %}selected="selected"{% endif %}>{{ choice.translated_name }}
				        {% if choice.price_change %}
				            {% option_price choice %}
				        {% endif %}
				     </option>
			    {% endfor %}
	        </select>
       </div>
	{% endfor %}
	<div class="styled-select">	
		<select id="quantity"  name="quantity"  class="select" title="Qty:" >
	        <option value='1' style='font-size:12px;line-height:24px;'>Qty:1</option>
	        <option value='2' style='font-size:12px;line-height:24px;'>2</option>
	        <option value='3' style='font-size:12px;line-height:24px;'>3</option>
	        <option value='4' style='font-size:12px;line-height:24px;'>4</option>
	        <option value='5' style='font-size:12px;line-height:24px;'>5</option>
	    </select>
    </div>
			<input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
			<div class='dhbtn-wrapper'>
			    <button class="btn dhbtn" id="addcart"  name="addcart"  type="submit">{% trans "Add to cart" %}</button>
			</div>
<input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
{% endspaceless %}
