{% extends "product/base.html" %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.fancybox.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.fancybox-thumbs.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.mCustomScrollbar.css" />
<style>
#fancybox-thumbs{
width:80px;
}
</style>
{% endblock %}
{% comment %}
-------------------------------------------------------------------
This is the base product detail page.
To modify the templates of specific types of products, such as
ProductVariations or CustomProducts, look for product/detail_xxx.html
-------------------------------------------------------------------
{% endcomment %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_price %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_util satchmo_discounts %}
{% load app_plugins %}
{% block title %}{{product.name}} | {{product.mynewproduct.brand.name}} by {{product.mynewproduct.designer.name}} | {{ shop_name }}, a platform for local creativity.{% endblock %}
{% block extra-head %}
{% if product.meta %}
    <meta name="description" content="{{product.meta}}">
{% endif %}
{% endblock %}
{% block breadcrumbs-category %}
    {% include "product/product_path.html" with product=product %}
{% endblock breadcrumbs-category %}
{% load cache %}
{% block content %}

    {% block productdetail %}
    <div class="container" style="margin-top:10px;margin-bottom:20px;padding-bottom:20px;">
    	{% cache 3600 productDetail::leftcol product.slug %}
        {% include 'product/product-detail-leftcol.html' with product=product %}
        {% endcache %}
        {% include 'product/product-detail-rightcol-base.html' with product=product %}
        <div class="clearfix" ></div>
        <br><br>
        {% cache 3600 productDetail::designer product.slug %}
        <div style='width:60%;float:left;'>
        	{% include "product/designer.html" %}
        </div>
        {% endcache %}
        <div style='width:40%;float:left;'>
        	{% if user.is_active %}
        	{% include "product/comments/form.html" %}
        	{% else %}
        	{% include "product/comments/login_form.html" %}
        	{% endif %}
        	{% include "product/comments/comments_list.html" %}
        </div>
        <div class="clearfix" ></div>
		{% block productfooter %}
		<!--{% if sale %}{% include "product/product_discount_eligible.html" %}{% endif %}-->
		{% endblock %}
    </div>
    

    {% endblock %}
{% endblock %}
{% block mainextrajs %}
<script type="text/javascript" src="{{MEDIA_URL}}js/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/fancybox/helpers/jquery.fancybox-media.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/slides.min.jquery.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.zoom-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.ui.dhub.fullscreenzoom.js"></script>
<script type="text/javascript">
var productid = {{product.id}};
</script>
<script type="text/javascript">
(function ($) {

	$('#product').slides({
		preload: true,
		preloadImage: '{{ MEDIA_URL }}img/loading.gif',
		effect: 'slide, fade',
		crossfade: true,
		slideSpeed: 350,
		fadeSpeed: 500,
		generateNextPrev: false,
		generatePagination: false
	});
	$('a.zoom-in').each(function(){
		var $that = $(this);
		var bigImageUrl = $that.attr('data-bigimage-src');
		$(this).zoom({url: bigImageUrl});
	});
	/* the tables in the right columb*/
	$('#myTab a').click(function (e) {
	  e.preventDefault();
	  $(this).tab('show');
	})
})(jQuery);

</script>
<script type="text/javascript">
	// $(".fancybox-thumb").fancybox({
		// prevEffect	: 'none',
		// nextEffect	: 'none',
		// padding : 0,
		// helpers	: {
			// title	:false,
			// thumbs	: {
				// width	: 50,
				// height	: 50,
				// position: 'left'
			// }
		// }
	// });

    (function($){
        $(window).load(function(){ 
            $(".content").mCustomScrollbar();
		});
    })(jQuery);

	(function ($) {
        $('.qtip-zoom-in').tooltip();

	})(jQuery);
		$(document).ready(function() {
			$('.fancybox-media').fancybox({
				openEffect  : 'none',
				closeEffect : 'none',
				helpers : {
					media : {}
				}
			});
		});
</script>
    <!-- launching page part optional-->
    <!-- launching page part -->
    <style>
    	.fancybox-close-launching{
    		top:1px;
    		right:1px;
    		width:45px;
    		height:45px;
            background:url('{{MEDIA_URL}}img/close-button-launching.png') no-repeat;
    		background-position: center center;
    		background-size: 50% 50%;
    	}
    	.fancybox-skin-launching{/*,.fancybox-overlay{*/
    		background:transparent;
    	}
    	#gradient-bg-wrapper{
			background-image: -ms-radial-gradient(center, ellipse farthest-side,  rgba(126,126,126,0.5) 20%, rgba(0,0,0,0.8) 150%);
			
			/* Mozilla Firefox */ 
			background-image: -moz-radial-gradient(center, ellipse farthest-side,  rgba(126,126,126,0.5) 20%, rgba(0,0,0,0.8) 150%);
			
			/* Opera */ 
			background-image: -o-radial-gradient(center, ellipse farthest-side,   rgba(126,126,126,0.5) 20%, rgba(0,0,0,0.8) 150%);
			
			/* Webkit (Safari/Chrome 10) */ 
			background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0.2, #FFFFFF), color-stop(1.5, rgba(0,0,0,0.8)));
			
			/* Webkit (Chrome 11+) */ 
			background-image: -webkit-radial-gradient(center, ellipse farthest-side, rgba(126,126,126,0.5) 20%, rgba(0,0,0,0.8) 150%);
			
			/* W3C Markup, IE10 Release Preview */ 
			background-image: radial-gradient(ellipse farthest-side at center,  rgba(126,126,126,0.5) 20%,rgba(0,0,0,0.8) 150%);

    	}
    </style>
    <script type="text/javascript" >
		$(document).ready(function() {
			$(".various").fancybox({
				padding     : 0,
				margin      : 0,
				tpl         : {
									wrap     : '<div id="gradient-bg-wrapper" class="fancybox-wrap" tabIndex="-1"><div class="fancybox-skin fancybox-skin-launching"><div class="fancybox-outer"><div class="fancybox-inner"></div></div></div></div>',
									image    : '<img class="fancybox-image" src="{href}" alt="" />',
									iframe   : '<iframe id="fancybox-frame{rnd}" name="fancybox-frame{rnd}" class="fancybox-iframe" frameborder="0" vspace="0" hspace="0"' + ($.browser.msie ? ' allowtransparency="true"' : '') + '></iframe>',
									error    : '<p class="fancybox-error">The requested content cannot be loaded.<br/>Please try again later.</p>',
									closeBtn : '<a title="Close" class="fancybox-item fancybox-close fancybox-close-launching" href="javascript:;"></a>',
									next     : '<a title="Next" class="fancybox-nav fancybox-next" href="javascript:;"><span></span></a>',
									prev     : '<a title="Previous" class="fancybox-nav fancybox-prev" href="javascript:;"><span></span></a>'
								},
				fitToView	: false,
				width		: '100%',
				height		: '100%',
				autoSize	: false,
				closeClick	: false,
				openEffect	: 'none',
				closeEffect	: 'none',
				helpers : { 
						   overlay: {
						    css: {}} // overlay 
						  } //helpers
			});
			$(".various").click();
		});

	    $(document).ready(function() {
	    	$('#launching-form').submit(function() {
				  var reg = new RegExp(/^\S+@\S+\.\S+$/);
				  var em = $("#launching-input").val();
				  var $that = $(this);
				  if (!reg.test(em)) {
				    alert('Please correct your email address.');
				    $("#launching-input").focus();
				  } else {
				    $.ajax({
				      type: "POST",
				      url: '/launching/',
				      data : 'email=' + em,
				      success: function(msg) {
                           $that.replaceWith("<p class='launching-line thanks'>Thanks for your attention, we'll contact you soon!</p>");
				      }
				    });   
				  }
				  return false;
				});
				//solving the plaoceholder problem
			    $('input[placeholder]').each(function(){  
			        
			        var input = $(this);        
			        var originalColor = input.css('color');
			        var placeholderColor = '#bbb'
			        $(input).val(input.attr('placeholder'));
			        $(input).css('color',placeholderColor);    
			        $(input).focus(function(){
			             if (input.val() == input.attr('placeholder')) {
			                 input.val('');
			                 $(input).css('color',originalColor);   
			             }
			        });
			        
			        $(input).blur(function(){
			            if (input.val() == '' || input.val() == input.attr('placeholder')) {
			                input.val(input.attr('placeholder'));
			                $(input).css('color',placeholderColor);
			            }
			        });
			    });
			    // style the select
			    if (!$.browser.opera) {

				function mytrim(str){return str.replace(/\s+|\t/g, ' ').trim();  }
				// console.log(mytrim('  a   bbb		 a	\nad'));

//去除空格,回车 
			        $('select.select').each(function(){
			            var title = $(this).attr('title');
			            var firstVal =  $(this).find('option:selected').val();
			            var $that = $(this);
			            // if( $('option:selected', this).val() != ''  ) title = $('option:selected',this).text();
			            $(this)
			                .css({'z-index':10,'opacity':0,'-khtml-appearance':'none'})
			                .after('<span class="select">' + title + firstVal + '</span>')
			                .change(function(){
			                    var val = $('option:selected',this).text();
			                    var combinedTitle = title + val;
			                    combinedTitle = mytrim(combinedTitle);
			                    if(combinedTitle.length > 8 && combinedTitle.length <= 15){
			                    	var width8 = '86px';
			                    	$that.css('width',width8);
			                    	$that.next().css('width',width8);
			                    }else{
				                    if(combinedTitle.length > 14){
				                    	var width8 = '116px';
				                    	$that.css('width',width8);
				                    	$(this).next().css('width',width8);
				                    	// console.log(combinedTitle);
				                    }

				                    // console.log(combinedTitle.length);

			                    }
			                    $(this).next().text(combinedTitle);
			                    })
			        });
			
			    };
			    // end of style the select

	    });
    </script>
    <!-- launching page part -->
{% endblock mainextrajs%}
