{% spaceless %}
<div class="footer mycontainer" style="padding:10px 0px 0px 0px;min-width:960px;border-top:1px solid #bbb;">
	 <div class='container'>
		<div style="color:#bbb;float:left;">
			© 2012 Design Hub
		</div>
		<div style="float:right;">
			<div id="credits" class="pull-right">
				<a href="javascript:void(0)"  title="How Do We work ?">How Do We work ?</a> &nbsp;/&nbsp;
				<a href="javascript:void(0)"  title="FAQ">FAQ</a> &nbsp;/&nbsp;
				<a href="javascript:void(0)"  title="Blog">Blog</a> &nbsp;/&nbsp;<a href="/#aboutus" title="About Us">About Us</a> &nbsp;/&nbsp; <a href="javascript:void(0)" title="Team">Team</a> &nbsp;/&nbsp; <a href="javascript:void(0)" title="Contact">Contact</a> &nbsp;/&nbsp; <a href="javascript:void(0)" title="Privacy Policy">Privacy Policy</a></div>
		</div>
    </div>
</div>
{% endspaceless %}