{% spaceless %}
{% load cache %}
{% cache 3600 footer0 %}
<div class="myfooter mycontainer">
	 <div class='container'>
		<div style="color:#bbb;float:left;">
			© 2012 Design Hub
		</div>
		<div style="float:right;">
			<div id="credits" class="pull-right">
				<a href="{% url aboutus %}#how-do-we-work"  title="How Do We work ?">How Do We work ?</a> &nbsp;/&nbsp;
				<a href="{% url faq %}"  title="FAQ">FAQ</a> &nbsp;/&nbsp;
				<a href="{% url aboutus %}" title="About Us">About Us</a> &nbsp;/&nbsp; <a href="javascript:void(0)" title="Team">Team</a> &nbsp;/&nbsp; <a href="{% url dhcontact %}" title="Contact">Contact</a> &nbsp;/&nbsp; <a href="javascript:void(0)" title="Privacy Policy">Privacy Policy</a></div>
		</div>
    </div>
</div>
{% endcache %}
{% endspaceless %}