{% load satchmo_category i18n normalize_decimal satchmo_discounts satchmo_currency%}
{% load satchmo_cart %}
{% load satchmo_currency %}
{% load satchmo_util %}
{% load satchmo_product %}
{% load satchmo_discounts %}
{% load normalize_decimal %}
{% spaceless %}
<div class='mycontainer'>
	<div class='container header'>
		<div style='width:100%;position:relative;overflow:visible;margin-top:0px;margin-bottom:10px;height:80px;'>
			<div style='text-align:center;width:379px;top:14px;left:-60px;position:absolute;'>
				<a href="/"><img src='{{MEDIA_URL}}img/weblogo(transparent,smaller).png' width='250'></a>
			</div>
			<div style='position:absolute;left:300px;bottom:0px;text-align:left;'>
	            <a class='sns-button-wrapper' href='http://www.facebook.com/pages/Design-Hub/445993645420664' target='_blank' title='Visit our Homepage in Facebook'><button class='facbook-home-page sns'></button></a>
	            <!--<a class='sns-button-wrapper' href='javascript:void(0);' target='_blank' title='Visit our Homepage in Twitter'><button class='twitter-home-page sns'></button></a>-->
			</div>
			<div style='position:absolute;right:0px;top:8px;line-height:15px;'>
				<div class='nav1-right'>
					<p class='nav1-right-ele'>
					{% if user.is_active %}
					<span style='color:#bbb'>Hi,</span><a class='list-item'  href='{% url satchmo_account_info %}'>
						{% if user.last_name %}
						    {{ user.last_name }}
                        {% else %}
						    {{user.username}}
						{% endif %}
					</a>
					<span class="seperator">/</span>
					<a href='{% ifnotequal request.path '/accounts/login/'  %}{% url auth_logout %}?next={{ request.get_full_path }}{% else %}{% url auth_logout %}{% endifnotequal %}'>Logout</a>
					{% else %}
					<a class='list-item'  href='{% url auth_login %}?next={{ request.get_full_path }}'>Login</a><span style='color:#bbb;margin:0px 5px;'>or</span><a  class='list-item' href='{% url registration_register %}?next={{ request.get_full_path }}'>Sign Up</a>
					{% endif %}
					<span class="seperator">/</span>
					{% if user.is_active %}
						<a href='{% url invite %}' style='color:#D04526;font-weight:bold;'>Invite</a>
						<span class="seperator">/</span>
					{% endif %}
					<a id='qtip-testing-ele' href='#'>About Us</a>
					<span class="seperator">/</span>
					<a href='javascript:void(0);'>Worldwide Delivery</a>
					{% url satchmo_cart as carturl %}
				    {% if carturl %}<span class="seperator">/</span><a href="{{ carturl }}">{% trans "Cart" %}</a>{% endif %}
				    {% if not cart.is_empty and cart%}
				        <span class="seperator">/</span>
			            &nbsp;({{ cart_count|normalize_decimal }} - {% if sale %}{{ cart|discount_cart_total:sale|currency }}{% else %}{{cart.total|currency}}{% endif%})
			            {% url satchmo_checkout-step1 as checkouturl %}
			            {% if checkouturl %}<span class="seperator">/</span><a href="{{ checkouturl }}">{% trans "Check out" %}</a>{% endif %}
				    {% endif %}
					</p>
				</div>
			</div>
			<div style='position:absolute;right:0px;top:40px;width:555px;overflow:visible;'>
			    <div id="navbar-header0" class="navbar navbar-static">
			      <div class="navbar-inner">
			        <div  style="width: auto;">
			
			        </div>
			      </div>
			    </div> <!-- /navbar-example -->
			</div>
		</div>
	</div>
</div>
<div class="hide" id="category-list-info">
    {% if category.id %}
        {% category_tree category.id %}
    {% else %}
        {% if product.get_category %}
            {% category_tree product.get_category.id %}
        {% else %}
            {% category_tree %}
        {% endif %}
    {% endif %}
</div>
<style type="text/css">
	ul.nav li.dropdown:hover ul.dropdown-menu.dropdown-menu-firstlevel{
	    display: block;    
	}

	a.menu:after, .dropdown-toggle:after {
	  content: none;
	}
	
	.navbar .dropdown-menu.dropdown-menu-firstlevel {
	 margin-top: 0px;
	}
</style>
<script type="text/javascript">

var categoryListInfoNode = document.getElementById('category-list-info').childNodes[0];
var navbarHeader0ContainerNode = document.getElementById('navbar-header0').childNodes[0].childNodes[0];
var categoryNum = 3;
var newCategoryNode = navbarHeader0ContainerNode.appendChild(categoryListInfoNode);
newCategoryNode.className = 'nav';
newCategoryNode.setAttribute('role','navigation');
for(var i = 0; i < newCategoryNode.childNodes.length; i++){
	if(newCategoryNode.childNodes[i].childNodes.length > 1){
	    newCategoryNode.childNodes[i].className = 'dropdown';
	    newCategoryNode.childNodes[i].childNodes[0].setAttribute('role','button');
        // newCategoryNode.childNodes[i].childNodes[0].setAttribute('class','dropdown-toggle');
        // newCategoryNode.childNodes[i].childNodes[0].setAttribute('data-toggle','dropdown');
        // newCategoryNode.childNodes[i].childNodes[0].setAttribute('href','#');
        newCategoryNode.childNodes[i].childNodes[0].innerHTML += '<span class="caret"></span>';
        newCategoryNode.childNodes[i].childNodes[1].setAttribute('class','dropdown-menu dropdown-menu-firstlevel');
        newCategoryNode.childNodes[i].childNodes[1].setAttribute('role','menu');
        var allWithoutSubmenu = false;
        for(var j = 0; j < newCategoryNode.childNodes[i].childNodes[1].childNodes.length; j++){
        	if(newCategoryNode.childNodes[i].childNodes[1].childNodes[j].childNodes.length > 1){
        		allWithoutSubmenu = true;
        	}
        }
        if(allWithoutSubmenu){
        	newCategoryNode.childNodes[i].childNodes[1].setAttribute('class','dropdown-menu dropdown-menu-firstlevel dropdown-menu-firstlevel-with-submenu');

	        for(var j = 0; j < newCategoryNode.childNodes[i].childNodes[1].childNodes.length; j++){
	        	if(newCategoryNode.childNodes[i].childNodes[1].childNodes[j].childNodes.length > 1){
	        		newCategoryNode.childNodes[i].childNodes[1].childNodes[j].setAttribute('class','dropdown-submenu dropdown-submenu-firstlevel');
	        		newCategoryNode.childNodes[i].childNodes[1].childNodes[j].childNodes[0].setAttribute('class','dropdown-submenu-firstlevel-title');
	        		newCategoryNode.childNodes[i].childNodes[1].childNodes[j].childNodes[1].setAttribute('class','dropdown-menu');
	        	}else{
	        		newCategoryNode.childNodes[i].childNodes[1].childNodes[j].setAttribute('class','dropdown-submenu-firstlevel dropdown-submenu-firstlevel-title-single');
	        	}
	        }
        }
	}
}
navbarHeader0ContainerNode.innerHTML += [
          '<ul class="nav pull-left">',
           ' <li class="dropdown" id="drop4">',
             ' <a href="javascript:void(0);" role="button">Talents<span class="caret"></span></a>',
			 '<ul class="subnav0 hide dropdown-menu" id="talents-ajax-container">',
			 '</ul>',
             ' </li>',
            ' <li class="dropdown" id="drop5" >',
             ' <a href="{% url sale-index %}" role="button">Sale</a>',
             ' </li>',

         ' </ul>'].join('');
navbarHeader0ContainerNode.innerHTML = [
          '<ul class="nav pull-left">',
            ' <li class="dropdown" id="drop6" >',
             ' <a href="javascript:void(0);" role="button" title="coming soon!">Ideas</a>',
           ' </li>',
             ' </ul>'].join('') +    navbarHeader0ContainerNode.innerHTML ;
var currentUrl = "{{request.path}}";
function addClass(id,stylestr){
	var o=document.getElementById(id);
	o.className=o.className+" "+stylestr;
	o=null;
}
var activeStr = 'active';
if(currentUrl.substring(0,13) === "/category/art"){
	addClass('category-3',activeStr);
}else{
	if(currentUrl.substring(0,19) === "/category/lifestyle"){
		addClass('category-2',activeStr);
	}else{
		if(currentUrl.substring(0,17) === "/category/fashion"){
			addClass('category-1',activeStr);
		}else{
			if(currentUrl.substring(0,8) === "/talents"){
				addClass('drop4',activeStr);
			}else{
				if(currentUrl.substring(0,5) === "/sale"){
					addClass('drop5',activeStr);
				}else{
					if(currentUrl.substring(0,6) === "/ideas"){
						addClass('drop6',activeStr);
					}	
				}
			}
		}
	}
}
</script>
{% endspaceless %}
