{% load satchmo_category i18n normalize_decimal satchmo_discounts satchmo_currency%}
{% spaceless %}
<div class='container header'>
	<div style='width:100%;position:relative;overflow:hidden;margin-top:15px;margin-bottom:10px;height:100px;'>
		<div style='text-align:center;width:379px;top:0px;left:300px;position:absolute;'>
			<a href="/"><img src='{{MEDIA_URL}}img/weblogo(transparent,smaller).png' width='320'></a>
		</div>
		<div style='position:absolute;left:0px;top:18px;text-align:left;'>
            <a class='sns-button-wrapper qtip-title-tip' href='http://www.facebook.com/pages/Design-Hub/445993645420664' target='_blank' title='Visit our Homepage in Facebook'><button class='facbook-home-page sns'></button></a>
            <a class='sns-button-wrapper qtip-title-tip' href='javascript:void(0);' target='_blank' title='Visit our Homepage in Twitter'><button class='twitter-home-page sns'></button></a>
		</div>
		<div style='position:absolute;right:0px;top:18px;line-height:15px;'>
			<div class='nav1-right'>
				<p class='nav1-right-ele'>
				{% if user.is_active %}
				<span style='color:#bbb'>Hi,</span><a class='list-item'  href='{% url satchmo_account_info %}'>
					{% if user.last_name %}{{user.last_name}}
					{% else %}{{user.username}}
					{% endif %}
				</a>
				<span class="seperator">/</span>
				<a href='{% ifnotequal request.path '/accounts/login/'  %}{% url auth_logout %}?next={{ request.get_full_path }}{% else %}{% url auth_logout %}{% endifnotequal %}'>Logout</a>
				{% else %}
				<a class='list-item'  href='{% ifnotequal request.path "/accounts/login/"  %}{% url auth_login %}?next={{ request.get_full_path }}{% else %}{{ request.get_full_path }}{% endifnotequal %}'>Login</a><span style='color:#bbb;margin:0px 5px;'>or</span><a  class='list-item' href='{% url registration_register %}'>Sign Up</a>
				{% endif %}
				</p>
				<p class='nav1-right-ele'>
					<a id='qtip-testing-ele' href='#'>About Us</a>
					<span class="seperator">/</span>
					<a href='javascript:void(0);'>Worldwide Delivery</a>
				</p>
				<p class='nav1-right-ele'>
					{% url satchmo_cart as carturl %}
				    {% if carturl %}<a href="{{ carturl }}">{% trans "Cart" %}</a>{% endif %}
				    {% if not cart.is_empty and cart%}
			            &nbsp;({{ cart_count|normalize_decimal }} - {% if sale %}{{ cart|discount_cart_total:sale|currency }}{% else %}{{cart.total|currency}}{% endif%})
			            {% url satchmo_checkout-step1 as checkouturl %}
			            {% if checkouturl %}<span class="seperator">/</span><a href="{{ checkouturl }}">{% trans "Check out" %}</a>{% endif %}
				    {% endif %}
				</p>
			</div>
		</div>
	</div>
    <div id="navbar-header0" class="navbar navbar-static">
      <div class="navbar-inner">
        <div class="container" style="width: auto;">

        </div>
      </div>
    </div> <!-- /navbar-example -->
</div>
<div class="hide" id="category-list-info">
    {% if category.id %}
        {% category_tree category.id %}
    {% else %}
        {% if product.get_category %}
            {% category_tree product.get_category.id %}
        {% else %}
            {% category_tree %}
        {% endif %}
    {% endif %}
</div>
<style type="text/css">
	ul.nav li.dropdown:hover ul.dropdown-menu.dropdown-menu-firstlevel{
	    display: block;    
	}

	a.menu:after, .dropdown-toggle:after {
	  content: none;
	}
	
	.navbar .dropdown-menu.dropdown-menu-firstlevel {
	 margin-top: 0px;
	}
</style>
<script type="text/javascript">
function getElementsByClass( searchClass, domNode, tagName) { 
	if (domNode == null) domNode = document;
	if (tagName == null) tagName = '*';
	var el = new Array();
	var tags = domNode.getElementsByTagName(tagName);
	var tcl = " "+searchClass+" ";
	for(i=0,j=0; i<tags.length; i++) { 
		var test = " " + tags[i].className + " ";
		if (test.indexOf(tcl) != -1) 
			el[j++] = tags[i];
	} 
	return el;
} 
var categoryListInfoNode = document.getElementById('category-list-info').childNodes[0];
var navbarHeader0ContainerNode = document.getElementById('navbar-header0').childNodes[0].childNodes[0];
var categoryNum = 3;
var newCategoryNode = navbarHeader0ContainerNode.appendChild(categoryListInfoNode);
newCategoryNode.className = 'nav';
newCategoryNode.setAttribute('role','navigation');
for(var i = 0; i < newCategoryNode.childNodes.length; i++){
	if(newCategoryNode.childNodes[i].childNodes.length > 1){
	    newCategoryNode.childNodes[i].className = 'dropdown';
	    newCategoryNode.childNodes[i].childNodes[0].setAttribute('role','button');
        // newCategoryNode.childNodes[i].childNodes[0].setAttribute('class','dropdown-toggle');
        // newCategoryNode.childNodes[i].childNodes[0].setAttribute('data-toggle','dropdown');
        // newCategoryNode.childNodes[i].childNodes[0].setAttribute('href','#');
        newCategoryNode.childNodes[i].childNodes[0].innerHTML += '<b class="caret"></b>';
        
        newCategoryNode.childNodes[i].childNodes[1].setAttribute('role','menu');
        newCategoryNode.childNodes[i].childNodes[1].setAttribute('class','dropdown-menu dropdown-menu-firstlevel');
        for(var j = 0; j < newCategoryNode.childNodes[i].childNodes[1].childNodes.length; j++){
        	if(newCategoryNode.childNodes[i].childNodes[1].childNodes[j].childNodes.length > 1){
        		newCategoryNode.childNodes[i].childNodes[1].childNodes[j].setAttribute('class','dropdown-submenu');
        		newCategoryNode.childNodes[i].childNodes[1].childNodes[j].childNodes[1].setAttribute('class','dropdown-menu');
        	}
        }
	}
}
navbarHeader0ContainerNode.innerHTML += [
          '<ul class="nav pull-right">',
           ' <li id="fat-menu" class="dropdown">',
             ' <a href="{% url designer-list %}" id="drop3" role="button">Talents</a>',
             ' </li>',
            ' <li id="fat-menu" class="dropdown">',
             ' <a href="javascript:void(0);" id="drop3" role="button">Sale</a>',
             ' </li>',
            ' <li id="fat-menu" class="dropdown">',
             ' <a href="javascript:void(0);" id="drop3" role="button" title="coming soon!">Ideas</a>',
           ' </li>',
         ' </ul>'].join('');

</script>
{% endspaceless %}
