{% extends "registration/base.html" %}
{% load i18n %}
{% load satchmo_contact %}
{% block loginsignupform %}
	<h4>{% trans "Set your email and password - the last step of registration" %}</h4>
	<form id='login-panel-form' method='post' action='.'>
	<div id='login-panel-container'>
		    {% if form.non_field_errors %}
				<p style='margin-top:5px;' class="error">{% for err in form.non_field_errors %}{{ err }}{% if not forloop.last %}<br/>{% endif %}
			{% endfor %}</p>
			{% endif %}
			<div class='login-row login-row-first'>
				<input id='login-email' name='email' class='login-input' type='text' placeholder="Your login email" {% if form.username.value %}value='{{form.username.value}}'{% endif %}>
				{% if form.email.errors %}
				    <div style='float:left;'><p class='error'> ***{{ form.email.errors|join:", " }}</p></div>
				{% endif %}
			</div>
			<div class='login-row login-row-last'>
				<input type="hidden" name="next"
					{% if next %}
					    value={{ next }} />
					{% else %}
					     {% url satchmo_account_info as accounturl %}
					     {% if accounturl %} value="{% url satchmo_account_info %}" /> {% endif %}
					{% endif %}
				{% csrf_token %}
			    <input id='login-passord' name='password' class='login-input' type='password' placeholder="Your password" >
				{% if form.password.errors %}
				    <div style='float:left;'><p class='error'> ***{{ form.password.errors|join:", " }}</p></div>
				{% endif%}
				
			</div>
	</div>
	<div id='login-submit-container'>
	    <button class="btn btn-login" id="login-submit" name="login-submit" type="submit">One click to move on!</button>
	</div>
	</form>
	

{% endblock %}
{% block loginRightPanel %}
{% endblock %}