{% spaceless %}
<div class="footer" style="background:#FFF;width:100%;padding:10px 0px 0px 0px;min-width:1170px;">
    <div class="container">
    		<div style="color:#bbb;float:left;">
    			© 2012 Design Hub
    		</div>
    		<div style="color:#bbb;float:left;margin-left:50px;">
    			<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.designhub.hk{{request.path}}&layout=button_count&amp;show_faces=true&amp; width=450&amp;action=like&amp;colorscheme=light&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:20px;" allowtransparency="true"></iframe>
    		</div>
    		<div style="float:right;">
    			<div id="credits" class="pull-right"><a href="javascript:void(0)"  title="Blog">Blog</a> &nbsp;/&nbsp;<a href="/#aboutus" title="About Us">About Us</a> &nbsp;/&nbsp; <a href="javascript:void(0)" title="Team">Team</a> &nbsp;/&nbsp; <a href="javascript:void(0)" title="Contact">Contact</a> &nbsp;/&nbsp; <a href="javascript:void(0)" title="Privacy Policy">Privacy Policy</a></div>
    		</div>
    </div>
</div>
{% endspaceless %}