{% extends 'base.html' %}
{% load mptt_tags %}
{% block extrastyle %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui-1.8.21.custom/jquery-ui-1.8.21.custom.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/index.css">
{% endblock extrastyle %}
{% block title %}Design Hub, A Platform For Local Creativity{% endblock %}
{% block extrahead %}
<meta name="description" content="Promote your brand to local and overseas market,Sell your works, Interact with the public, Meet the most talented designers and artists, Get assistance of funds and supply chain if you have great ideas and want to start up your own brand." />
<meta name="keywords" content="platform, designers, design, Hongkong,HK, local, creativity, Design Hub" />
{% endblock %}
{% block content %}
<div class="container" style="padding-bottom:30px;" id="joinus-leaflet-container">
    <div class="left-container">
    		<h1 style="margin-bottom:5px;margin-top:30px;margin-left:10%;color:#bbb;">IN HERE,YOU CAN</h1>
    		<div class="in-here-you-can-bar">
    			<div class="icon-container roundborder2">
    				<img src="{{ MEDIA_URL }}img/joinus/icon-rocket.png">
    			</div>
    			<div class="in-here-you-can-bar-content">
    				<h2>Promote</h2>
    				<p>your brand to local and overseas market.</p>
    			</div>
    		</div>
    		<div class="in-here-you-can-bar">
    			<div class="icon-container roundborder2">
    				<img src="{{ MEDIA_URL }}img/joinus/icon-coins.png">
    			</div>
    			<div class="in-here-you-can-bar-content">
    				<h2>Sell</h2>
    				<p>your works.</p>
    			</div>
    		</div>
    		<div class="in-here-you-can-bar">
    			<div class="icon-container roundborder2">
    				<img src="{{ MEDIA_URL }}img/joinus/icon-chat.png">
    			</div>
    			<div class="in-here-you-can-bar-content">
    				<h2>Interact</h2>
    				<p>with the public.</p>
    			</div>
    		</div>
    		<div class="in-here-you-can-bar">
    			<div class="icon-container roundborder2">
    				<img src="{{ MEDIA_URL }}img/joinus/icon-people.png">
    			</div>
    			<div class="in-here-you-can-bar-content">
    				<h2>Meet</h2>
    				<p>the most talented designers and artists.</p>
    			</div>
    		</div>
    		<div class="in-here-you-can-bar">
    			<div class="icon-container roundborder2">
    				<img src="{{ MEDIA_URL }}img/joinus/icon-config.png">
    			</div>
    			<div class="in-here-you-can-bar-content" style="width:80%;">
    				<h2 >Get</h2>
    				<p>assistance of funds and supply chain if you have great ideas and want to start up your own brand.</p>
    			</div>
    		</div>    		
    </div>
    <div class="right-container">
		<div id="joinus-form-container">
    		<div style="overflow:hidden;height:auto;"><img src="{{ MEDIA_URL }}img/joinus/heydesigners.png"></div>
    		<p class="pull-right" style="color:#888;">Complete it & we'll contact you soon!</p>
    		<div class="clearfix"></div>
    		<div style="height:0px;border-bottom:1px #fff solid;border-top:1px #bbb solid;margin-bottom:25px;"></div>
			{% load url from future %}
			<form  class="form-horizontal" id="join-us-ajaxForm" method="post" action="{% url 'testshop.shop.views.collectContactInfo' %}">
			  {% csrf_token %}
			  <fieldset>
			    <div class="control-group">
			      <label class="control-label" for="input01">Name</label>
			      <div class="controls">
			        {{contactInfoForm.name}}
			      </div>
			    </div>
			    <div class="control-group">
			      <label class="control-label" for="input02">Profession</label>
			      <div class="controls">
			        {{contactInfoForm.area_design}}
			      </div>
			    </div> 
			    <div class="control-group">
			      <label class="control-label" for="input03">Email</label>
			      <div class="controls">
			        {{contactInfoForm.email}}
			      </div>
			    </div>
			    <div class="control-group">
			      <label class="control-label" for="input04">Phone</label>
			      <div class="controls">
			        {{contactInfoForm.phone_num}}
			      </div>
			    </div>
	            <div class="form-actions" style="background:transparent;">
	              <button type="submit" class="btn btn-danger" style="width:50%;height:50px;font-size:24px;">Join Now</button>
	            </div>
			  </fieldset>
			</form>
			<div style="text-align:center;width:100%;margin-bottom:20px;">
			    <a href="{% url 'how-dhub-works' %}" class="flat-button" id="dom-elem-47" ><span>See What's Next</span></a>
			</div>
	        <div id="dialog" title="Thanks for your interests" style="display:none;">
			    <p>Thanks!</p>
			</div>
		</div>
    </div>
</div>
<div style="background:#ddd;padding-top:60px;padding-bottom:60px;min-width:1170px;">
	<div class="container" id="aboutus">
		<div style="float:left">
			<h1 style="color:#fff;margin-bottom:20px;">About Us</h1>
			<p class="aboutus-lines">A platform for local creativity.</p>
			<p class="aboutus-lines">Design Hub exists for one simple reason: To make life better.</p>
	        <p class="aboutus-lines">We introduce the best designs and artworks to make everyone lives better.</p>
	        <p class="aboutus-lines">Together, we are invincible.</p>
		</div>
		<div style="float:left;padding-top:15px;margin-left:5%;width:55%;">
			<iframe width="100%" height="400px" src="http://www.youtube.com/embed/WVQ2vNHbnMs" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>
<div class="push"></div>
{% endblock content %}

{% block extrajs %}
<script src="{{MEDIA_URL}}js/libs/jquery-ui-1.8.21.custom.min.js"></script>
<script src="{{MEDIA_URL}}js/libs/jquery.form.js"></script>
<script src="{{MEDIA_URL}}js/index.js"></script>
{% endblock extrajs %}
